<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="//apps.bdimg.com/libs/jquery/1.11.3/jquery.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>
      用户名：<input type="text" name="user_name" id="user_name">
    </p>
    <p>
      密码：<input type="text" name="user_pass" id="user_pass">
    </p>
    <p><a href="javascript:;" onclick="login();">登陆</a></p>
  </body>
</html>
